nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 80px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li {
  cursor: pointer;
}

nav h2 {
  color: #6C4DFF;
}