.chat-card {
    height: 100%;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;

    border-radius: 18px;
    background: linear-gradient(135deg, #E4F0FF, #D8E9FF);

    position: relative;
    overflow: hidden;

    transition: 0.3s ease;
    cursor: pointer;
}

.chat-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 28px rgba(59, 130, 246, 0.15);
}


/* Title */

.chat-title {
    display: flex;
    align-items: center;
    gap: 9px;
}

.chat-title svg {
    color: #3B82F6 !important;
    font-size: 18px;
}

.chat-title h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #3B82F6;
}


/* Last chat text */

.chat-text {
    margin: 20px 0 0;
    font-size: 14px;
    color: #4B5563;
}


/* Open Chat button */

.chat-btn {
    margin-top: 16px;

    padding: 8px 14px;

    border: 1px solid #D5E3F7;
    border-radius: 9px;

    background: #FFFFFF;
    color: #4F8EF7;

    font-size: 13px;
    font-weight: 600;

    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 7px;

    transition: 0.3s ease;
}

.chat-btn span {
    font-size: 16px;
}

.chat-btn:hover {
    background: #3B82F6;
    color: white;
    border-color: #3B82F6;
}


/* Robot */

.chat-robot {
    position: absolute;
    right: 8px;
    bottom: 4px;
}

.chat-robot img {
    width: 105px;
    height: auto;
    display: block;
}