/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Variables */
:root {
  --primary-color: #6C4DFF;
  --primary-dark: #4F2DCC;
  --primary-light: #F3F0FF;

  --background: #F8F7FF;

  --text-dark: #1F2937;
  --text-light: #6B7280;

  --white: #FFFFFF;
}

/* Body */
body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
  color: var(--text-dark);
}

/* Root */
#root {
  width: 100%;
  min-height: 100vh;
}